#LogoCalupets{
    width: 100px;
    height: 100px;
}

#divEncabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 0.5rem;
}

.btnGenerar {
    margin-left: 5px;
}
