<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div id="divEncabezado">
        <h1>Detalle Venta</h1>
        <img src="../../../../assets/calupetslogo.png" alt="Logo Calupets" id="LogoCalupets">
    </div>

    <div id="">
        <h2>{{ nombreCliente }}</h2>        
    </div>

    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-success" (click)="generarPDF()">Generar PDF</a>
    </div>
    <div *ngIf="detalles.length === 0">
        <p>Cargando ventas...</p>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <table *ngIf="detalles.length > 0" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        
                    </tr>
                </thead>    
                <tbody>
                    <tr *ngFor="let detalle of detalles">
                        <td>{{ nombresVentas[detalle.iD_CALUPRODUCT?.toString() || ''] || 'Cargando...' }}</td>
                        <td>{{ detalle.totaL_DETALLE }}</td>
                        <!-- <td><a [routerLink] = "['/detallesVentas', 'edit', detalle.iD_DETALLE]">Editar</a></td> -->
                    </tr>                   
                </tbody>                
            </table>
            <div id="totalDiv">
                <span>TOTAL= $ {{ totalProductos }}</span>
            </div>
        </div>
    </div>
</div>